/a.qgz
/africa_cities_labelled.png
/africa_map.png
/chloropleth_map.png
/cities_in_africa.png
/colombia-real-estate-3.csv
/data_download.txt
/Day 11
/Day 12
/Day 5
/Day 8
/Day 9
/Day1
/Day10
/Day2
/Day6
/Day7
/dem.qgz
/dotmap.png
/exercises.ipynb
/jubril_work.png
/new.qgz
/rough_1.qgz
/shp.qgz
/states_bound.qgz
/supervised_project.qgz
/Tutorial
/video